body {
  background-color: #002 !important;
}
.wrapper {
  background-color: #002 !important;
}
h1 {
  color: #fff !important;
}
.main {
  background-color: #002 !important;
}
.sidebar {
  background-color: rgb(35, 35, 85) !important;
}
.btn__enter {
  background-color: rgb(80, 80, 151) !important;
  color: #000 !important;
}
.main__courses {
  color: #fff !important;
}
.sidebar a {
  color: #fff !important;
}

.avatar {
  background-color: #fff !important;
}
.profile__link a {
  background-color: #003 !important;
}

.header {
  background-color: #003 !important;
}
.header__item > i {
  font-size: 30px !important;
  color: #fff !important;
}
.header__brand {
  color: #fff !important;
}
.main__anal_item {
  box-shadow: 0 0 10px #66e !important;
  color: #fff !important;
}
.course-layout__data {
  color: #212529 !important;
}
.course-layout__title {
  color: #fff !important;
}
.course-layout {
  color: #fff !important;
}
